{% extends "misago/base.html" %}
{% load i18n %}


{% block content %}
<div class="page page-threads page-threads-{{ list_type|default:'all' }} {% spaceless %}
  {% block extra-css %}{% endblock extra-css %}
{% endspaceless %}">

  <div class="page-header-bg">
    {% block page-header %}
    {% endblock page-header %}
  </div>

  <div class="container" style="font-size: 20px;">
    <h1><strong>Guildline</strong></h1>
    <hr>
    <div class="guildline-header">
      <h2 style="font-weight:bolder;">COMMUNITY GUIDELINE</h2>
      <p>Whether you are here to ask question or to solve others problems, you must follow these
        rules to ensure a better community – a community where everyone can get their
        problems solved regardless expertise or identity.</p>
    </div>
    <div class="guidline-body">
      <h2 style="font-weight:bolder;">OUR EXPECTATION</h2>
      <p>
        + When asking a question, you should make it easy to understand. The title should be
        meaningful and the description should perfectly explain what the problem is. The title
        and description must match together.<br>
        + Always be nice when answering others question.<br>
        + Avoid making joke about the question or the person who’s asking the question.<br>
        + When giving the answer, you should include clear explanation of why the problem occur<br>
        and what we need to do in order to fix it with code explanation (*if needed).<br>
        + Always be open when receiving feedback from the question you asked or the answer
        you gave.<br>
        + Always remember to vote the best answer as a way to say thanks you while making
        others easier to find the answer that work for them.<br>
        + If you use source code or any illustration from others, please give credits to them by
        mentioning their name or website.<br>
      </p>

      <h2 style="font-weight:bolder;">UNACCEPTABLE BEHAVIOUR</h2>
      <p>
        + Don’t post anything that goes beyond programming topic<br>
        + Don’t post articles to promote or sell any product that doesn’t related to programming<br>
        + Don’t use bad words, unfriendly or any language that offend others<br>
        + Don’t bully or intimidate others by any means <br>
      </p>

      <h2 style="font-weight:bolder;">ENFORCEMENT</h2>
      <p>Everyone can come together and contribute in building a better community. However, if
        you commit any unacceptable behavior, you will meet these consequences.</p>

      <div style="display: flex;
      justify-content: center;">
        <div class="ENFORCEMENT-item">
          <h3 style="font-weight:bold;">Warning</h3>
          <p>If this is the first time of your
            misconduct, moderators will
            remove the content and send
            you the warning message</p>
        </div>
        <div class="ENFORCEMENT-item">
          <h3 style="font-weight:bold;">SUSPENSION</h3>
          <p>If you repeatedly perform
            misconduct behavior,
            moderators will suspend your
            account depending on the
            level of the violation.</p>
        </div>
        <div class="ENFORCEMENT-item">
          <h3 style="font-weight:bold;">EXPULSION</h3>
          <p>Moderators will expel people
            who intentionally display a
            pattern of violating our
            guideline.</p>
        </div>
      </div>

    </div>

  </div>
</div>
{% endblock content %}